################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XibFree/v14
/XibFree/obj
/XibFree/bin
/Demo/obj/iPhone/Debug
/Demo/obj/iPhoneSimulator/Debug
/Demo/bin/iPhoneSimulator/Debug
/packages/NuGet.Build.Packaging.0.1.324
/packages/NuGet.Build.Packaging.0.1.324
/Demo/obj/iPhone/Release
/.vs/XibFree/v15/sqlite3
/.vs/XibFree/v15/Server/sqlite3
