################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XibFree/v14
/XibFree/obj
/XibFree/bin
/Demo/obj/iPhone/Debug
/Demo/obj/iPhoneSimulator/Debug
